body
  background: #aaa

#container
  position: relative
  top: 10px
  width: 343px
  height: 500px
  margin: 0 auto
  border: 25px solid #333
  border-bottom: 40px solid #333
  +border-radius(10px)
  background: #ccc
  +box-shadow(0 0 20px #333)

#viewport
  width: 343px
  height: 500px
  // background: url(game-bg.jpg)
  +box-shadow(inset 0 0 10px #444)

#home-button
  width: 25px
  height: 25px
  margin: 5px auto
  color: #aaa
  line-height: 25px
  text-align: center
  background: #333
  +border-radius(12px)
  +box-shadow(inset -3px -3px 5px #666, inset 3px 3px 5px #000)

.viewport
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  .back-home
    position: absolute
    bottom: 20px
    right: 20px

    &>a
      color: #fff
      text-decoration: none
      +text-shadow(0 0 5px #333)

      &:hover
        color: #333
        +text-shadow(0 0 3px #fff)