/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import "compass/reset"
@import "compass/css3"

.num
  font-family: Arial
  height: 40px
  margin: 5px
  padding: 8px
  float: left
  font-size: 40px
  font-weight: bold
  line-height: 40px
  color: #eee
  border: 3px solid #ccc
  background: #333
  +border-radius(10px)
  +linear-gradient(color-stops(#999, #333))