<!DOCTYPE html>
<html>
  <head>
    <title>Backbone.View Test</title>
    <meta charset="UTF-8" />
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>

<ul id="notes">
</ul>

<script type="text/template" id="note-template">
  <article>
    <h1><%= title %></h1>
    <p><%= content %></p>
  </article>
</script>

    <!-- Scripts -->
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="js/view_2.js"></script>

  </body>
</html>
